/* background */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "header"
        "dashboard";
    height: 100vh;
    background: #d1ecc7;
}

/* navbar */

#navbar {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #95C577;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar i {
    font-size: 25px;
    margin-left: 4%;
}

#navi{
    border: 3px solid #6E9654;
    background: #95C577;
    border-radius: 10px;
    padding: 8px 60px 8px 60px;
    position: absolute;
    top: 15px;
}


#butnav1 {
    color: #DEEED4;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navnav1{
    
    display: flex;
    flex-direction: column;
}

#navnav1 a{
    text-decoration: none;
    color: #DEEED4;
    font-size: 30px;
    margin-top: 10px;
    margin: 5px;
    position: relative;
}

.fechado.aberto{
    max-height: 600px;
    opacity: 1;
}

.fechado{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* dashboard */

#secdashboard {
    grid-area: dashboard;
    display: flex;
    justify-content: center;

}

#dashboard {
    margin-top: 10px;
    width: 80%;
    background: #EBF5E5;
    border: 6px solid #C4DFB2;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashheader {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    color: #84A686;
}

#dashheader i {
    font-size: 75px;
}

#textos {
    margin-left: 3%;
}

#cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.dvdash{
    width: 23%;
    height: 150px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ADDF95;
    border: solid 4px#84AF68;
    color: #ffffff;
}

.dvdash h1{
    font-size: 52px;
}

#parahoje {
    width: 89.3%;
    height: 53.5%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #ADDF95;
    border: solid 4px#84AF68;
    color: #ffffff;
}

#parahoje h1{
    font-size: 36px;
    margin-top: 20px;
}

.registros {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background: #EBF5E5;
    border: solid 4px #84AF68;
    color: #84A686;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
    border-radius: 99px;
    align-items: center;
}

.registros a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #84A686;
    position: relative;
}

.animacao::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 96%;
    height: 3px;
    background: #84A686;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: right;
}

.animacao:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.animacao1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 70%;
    height: 3px;
    background: #DEEED4;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: right;
}

.animacao1:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.registros i{
    font-size: 30px;
}

.titulo{
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

