/* background */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
        "header"
        "dashboard";
    height: 100vh;
    background: #d1ecc7;
}

/* navbar */

#navbar{
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #95C577;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar i{
    font-size: 25px;
    margin-left: 4%;
}

#butnav{
    color:#DEEED4;
    border: 3px solid #6E9654;
    background: none;
    border-radius: 10px;
    padding: 8px 60px 8px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* dashboard */

#secdashboard{
    grid-area: dashboard;
    display: flex;
    justify-content: center;
    
}

#dashboard{
    margin-top: 10px;
    width: 80%;
    background: #EBF5E5;
    border: 6px solid #C4DFB2;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashheader{
    width: 80%;
    margin: 30px;
    display: flex;
    align-items: center;
    color: #84A686;
}

#dashheader i{
    font-size: 70px;
}

#textos{
    margin-left: 3%;
}

#cards{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#parahoje{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registros{
    width: 100%;
    display: flex;
    
}