/* background */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        "header"
        "lugin";
    height: 100vh;
}

/* navbar */

#navbar{
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #95C577;
    color: #fff;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login */

#lugin{
    grid-area: lugin;
    background: #DEEED4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lugin img{
    width: 40%;
    margin-right: 20%;
}

#logdiv{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 25%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    border: solid rgba(149, 197, 119, 0.445) 5px;
}

#logdiv h1{
    color: #84A686;
}