/* background */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
        "header"
        "lugin";
    height: 100vh;
    background: #d1ecc7;
}

/* navbar */

#navbar{
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #95C577;
    color: #DEEED4;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login */

#lugin{
    grid-area: lugin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lugin img{
    width: 40%;
    margin-right: 20%;
}

#logdiv{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 26%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    border: solid rgba(149, 197, 119, 0.445) 5px;
}

#logdiv h1{
    color: #84A686;
    margin-bottom: 20px;
    font-size: 50px;
}

.cx-inputa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
    margin-top: 25px;
}

.cx-inputa input {
    width: 80%;
    padding: 13px 16px 13px 38px;
    border-radius: 99px;
    border: solid rgba(149, 197, 119, 0.568) 3px;
    background: rgba(214, 211, 211, 0.1);
    outline: none;
    color: #617a63;
    font-size: 16px;
}

.cx-inputa input:focus {
    border: solid rgb(130, 185, 95) 3px;
}

.cx-inputa input::placeholder {
    color: #84A686;
}

.cx-inputa i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
    color: #84A686;
    font-size: 18px;
}

#arroba{
    font-size: 22px;
}

#lugin a{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
}

#buton{
    width: 60%;
    padding: 16px;
    background: #95C577;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
}

