/* background */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "header"
        "registros";
    height: 100vh;
    background: #d1ecc7;
}

/* navbar */

#navbar {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #95C577;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

}

#navbar i {
    font-size: 25px;
    margin-left: 4%;
}

#navi {
    border: 3px solid #6E9654;
    background: #95C577;
    border-radius: 10px;
    padding: 8px 60px 8px 60px;
    position: absolute;
    top: 15px;
}

#butnav {
    color: #DEEED4;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navnav2 {

    display: flex;
    flex-direction: column;
}

#navnav2 a {
    text-decoration: none;
    color: #DEEED4;
    font-size: 30px;
    margin-top: 10px;
    margin: 5px;
    position: relative;
}

/* dashboard */

#secregis {
    grid-area: registros;
    display: flex;
    justify-content: center;

}

#registros {
    margin-top: 10px;
    width: 80%;
    background: #EBF5E5;
    border: 6px solid #C4DFB2;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#regheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    color: #84AF68;
}

#regheader h1 {
    font-size: 40px;
}

#topo {
    display: flex;
    width: 77%;
    justify-content: end;
    margin-bottom: 20px;
}

.butones {
    background: #95C577;
    color: #EBF5E5;
    border: none;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 99px;
    cursor: pointer;
    font-weight: 600;

}

#filtro {
    width: 40%;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    background: #EBF5E5;
    border: solid 4px #84AF68;
    color: #84A686;
    font-size: 15px;
    border-radius: 25px;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 242px;
    margin-right: 15%;
    flex-direction: column;
}

#btnfiltro {
    color: #84A686;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    left: 93%;
}

#StatusH2 {
    margin-right: 32px;
}

#filtro i {
    font-size: 30px;
}

#filt-head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fechado.aberto {
    max-height: 600px;
    opacity: 1;
}

.fechado {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#itens {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#filtrao {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#data {
    width: 14%;
    height: 17px;
    padding: 9px 18px;
    border: solid #84A686 3px;
    border-radius: 10px;
    color: #84A686;
    cursor: text;
    background: none;
    outline: none;
}

#pesquisa {
    display: flex;
    position: relative;
    width: 16%;
    height: 45px;
    margin-left: 50%;

}

#pesq {
    width: 100%;
    padding: 9px 18px;
    border: solid #84AF68 4px;
    border-radius: 99px;
    color: #84A686;
    cursor: text;
    background: none;
    outline: none;
    font-size: 15px;

}

#pesq::placeholder {
    color: #84a686a4;
    font-weight: 600;
}

#pesquisa i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    color: #84A686;
    font-size: 18px;
}

#filtro2 {
    width: 180px;

}

#filtro3 {
    width: 140px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.caixa {
    width: 18px;
    height: 18px;
    background: none;
    border: solid 2px #84AF68;

}


#butao_salvar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
}


#lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
}

.registros {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background: #95C577;
    color: #EBF5E5;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
    border-radius: 35px;
    align-items: center;
}

.registros a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EBF5E5;
    position: relative;
}

.animacao::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 96%;
    height: 3px;
    background: #EBF5E5;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: right;
}

.animacao:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.registros i {
    font-size: 30px;
}

.titulo {
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.btnmodal{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#modal_add {
    background: #EBF5E5;
    border: 6px solid #C4DFB2;
    border-radius: 25px;
    width: 30%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#seletor {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    color: #84AF68;
    font-size: 14px;
    border: solid #84AF68 3px;
    outline: none;
}

.gp_cx{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divdascaixadosmodal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    position: relative;
}

.labeis{
    font-size: 20px;
    position: absolute;
    bottom: 75%;
    transform: translateY(-50%);
    left: 15%;
}

.caixadosmodal{
    width: 80%;
    height: 36px;
    border-radius: 10px;
    color: #84AF68;
    font-size: 14px;
    border: solid #84AF68 3px;
    background: white;
}

.campObs{
    width: 89.6%;
    height: 100px;
    border-radius: 10px;
    color: #84AF68;
    font-size: 14px;
    border: solid #84AF68 3px;
    background: white;
}

#labelobs{
    font-size: 20px;
    position: absolute;
    bottom: 90%;
    transform: translateY(-50%);
    left: 7.5%;
}

#modal_nregistro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_detai_concluido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_detai_editar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal_detai_pend_rasc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.registrodiv{
    background: #EBF5E5;
    border: 6px solid #C4DFB2;
    border-radius: 25px;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.seletor1 {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    color: #84AF68;
    font-size: 14px;
    border: solid #84AF68 3px;
    outline: none;
    pointer-events: none;
}

.status{
    width: 25%;
    height: 80px;
    border-radius: 10px;
    color: #84AF68;
    font-size: 14px;
    border: solid #84AF68 3px;
    outline: none;
    margin-right: 55%;
}

#statuslabel{
    font-size: 20px;
    position: absolute;
    bottom: 85%;
    transform: translateY(-50%);
    left: 15%;
}