
/* background */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "header"
        "registros";
    height: 100vh;
    background: #d1ecc7;
}

/* navbar */

#navbar {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #95C577;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar i {
    font-size: 25px;
    margin-left: 4%;
}

#butnav {
    color: #DEEED4;
    border: 3px solid #6E9654;
    background: none;
    border-radius: 10px;
    padding: 8px 60px 8px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* dashboard */

#secregis {
    grid-area: registros;
    display: flex;
    justify-content: center;

}

#registros{
    margin-top: 10px;
    width: 80%;
    background: #EBF5E5;
    border: 6px solid #C4DFB2;
    border-bottom: none;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#regheader{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: #84A686;
}

#regheader h1{
    font-size: 40px;
}

#topo{
    display: flex;
    width: 77%;
    justify-content: end;
}

.butones{
    background: #95C577;
    color: #EBF5E5;
    border: none;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 99px;
    cursor: pointer;
    font-weight: 600;
}

#filtro{
    width: 60%;
    padding: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    background: #EBF5E5;
    border: solid 4px #84AF68;
    color: #84A686;
    font-size: 15px;
    border-radius: 25px;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 265px;
    flex-direction: column;
}

#filtro button{
    color: #84A686;
    border: none;
    background: none;
    cursor: pointer;
}

#filtro i{
    font-size: 30px;
}

#filt-head{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fechado.aberto{
    max-height: 300px;
    opacity: 1;
}

.fechado{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

#itens{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#pesquisa{
    display: flex;
    position: relative;
    width: 16%;
    height: 40px;
}

#pesq{
    width: 100%;
    padding: 9px 18px;
    border: solid #84A686 3px;
    border-radius: 99px;
    color: white;
    cursor: text;
    background: none;
    outline: none;
    
}

#pesq::placeholder {
    color: #84A686;
    font-weight: 600;
}

#pesquisa i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    color: #84A686;
    font-size: 18px;
}

#filtro2{
    width: 180px;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.caixa{
    width: 18px;
    height: 18px;
    background: none;
    border: solid 2px #84AF68;

}

#lista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
}

.registros {
    width: 88%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background: #95C577;
    color: #EBF5E5;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
    border-radius: 35px;
    align-items: center;
}

.registros a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EBF5E5;
    position: relative;
}

.animacao::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 96%;
    height: 3px;
    background: #EBF5E5;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .4s;
    transform-origin: right;
}

.animacao:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.registros i{
    font-size: 30px;
}

.titulo{
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

